<html>
<head>
    {{ content_for_header }}
    {% comment %} {{ 'style.css' | asset_url | stylesheet_tag}} {% endcomment %}
</head>

<body>
    {% section 'header' %}
    {{ content_for_layout }}
    {{'scripts.js' | asset_url | script_tag }
</body>

</html>  