<h1>Cart</h1>

{% for item in cart.items %}
    <div>
        <img scr = "{{ item.image | image_url: width: 150}}"/>
        <h2>{{item.title}}</h2>
        <p>{{item.price | money}}</p>
    </div>

{% endfor %}